---
layout: default
---



<div id="intro">
	{{ content }}
</div>

<ul class="about">
	<li>
		<h1> Studies</h1>
		2018 › 2019<br>Digital Experience Design PG @ FBAUL<br><br>
		2013 › 2016<br>Comunication Design Degree @ ESTAL
	</li>

	<li>
		<h1> Work </h1>
		2018 › now<br>Junior Art Director @ DDB Lisbon<br><br>
		2016 › 2018<br>Junior Designer @ Happen Creative Solutions
	</li>

	<li>
		<h1> Skills </h1>
		User Interface<br>User Experience<br>Wireframing<br>Prototyping<br>Interaction design

	</li>

</ul>

  